.card-nota {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background: #e0dfe0;
    border-radius: 4px;
    flex-wrap: wrap;
    box-shadow: 0 0 4px #000;
    padding: 16px;
}

.card-nota_cabecalho {
    font-size: 1.1rem;
    display: flex;;
    justify-content: space-between;
    align-items: center;
}

.card-nota_texto {
    margin-top: 8px;
    font-size: 1em;
}

.card-nota_titulo {
    font-size: 1.2em;
    margin-right: 12px;
}

